<h1>Cities#index</h1>
<p>Find me in app/views/cities/index.html.erb</p>
<%= gmaps4rails(@json) %>

<!-- script to log all the markers to the console
<script type="text/javascript">
  $(document).ready(function() {
    Gmaps.map.callback = function() {
      console.log(Gmaps.map.markers)
    }
  });
</script>
-->

<div id='population-range' style="width: 500px"></div>
<input type="text" id="filtered-pop" style="width: 200px"/>

<script type="text/javascript">
  $(document).ready(function() {

    Gmaps.map.callback = function() {

      _.each(Gmaps.map.markers, function(marker) {
        Gmaps.map.hideMarker(marker)
      })

      console.log(Gmaps.map.markers)

    }
  });

  var PopulationFilter = {
    min: 800000,
    max: 10000000,
  };

  $("#population-range").slider({
    range: true,
    min: PopulationFilter.min,
    max: PopulationFilter.max,
    values: [ PopulationFilter.min, PopulationFilter.max ],
    slide: function(event, ui) {
      $( "#filtered-pop" ).val( (ui.values[ 0 ])+ " - " + (ui.values[ 1 ]))
      PopulationFilter.min = ui.values[ 0 ]
      PopulationFilter.max = ui.values[ 1 ]
    }
  });

$( "#filtered-pop" ).val( (PopulationFilter.min)+ " - " + (PopulationFilter.max))











</script>




